@import "~bootstrap/scss/bootstrap.scss";

#container {
    display: grid;
margin:auto;
background: black;
width: 100px;
height: 400px;
color: blue;
border-radius: 30px;
};

.redLight{
    margin-top: 20px;
    margin-left: 10px;
    background: red;
    width:80px;
    height: 80px;
    border-radius: 50%;
     
}

.yellowLight {
    margin: 40px 10px;
    background: yellow;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.greenLight {
    margin: 20px 10px;
    background: green;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.active {
    box-shadow: white 0px 0px 50px 20px;
}